extends ../layout

block scripts
  link(type='text/css', href="/stylesheets/jquery-ui-timepicker-addon.css", rel="stylesheet")
  script(type='text/javascript', src='/javascripts/tiny_mce/jquery.tinymce.js')
  script(type='text/javascript', src='/javascripts/jquery-ui-timepicker-addon.js')
  script(type='text/javascript')
    $(document).ready(function(){
      $('#trip_start').datepicker();
      $('#trip_end').datepicker();
      $('#signup_start').timepicker();
      $('#signup_end').datetimepicker();

      $('#drivers').hide();
      $('#allow_early_drivers').click(function() {
        //- is the 'slow' bit too obnoxious?
        $('#drivers').toggle('slow');
      });
      $('textarea.richedit').tinymce({
          script_url : '/javascripts/tiny_mce/tiny_mce.js',
          theme : "advanced",
          theme_advanced_buttons1 : 'bold,italic,underline,justifycenter,|,undo,redo,|,image,bullist,numlist,|,link,unlink,fontsizeselect',
          theme_advanced_buttons2 : '',
          theme_advanced_buttons3 : '',
          theme_advanced_buttons4 : '',
          theme_advanced_toolbar_location : "bottom",
          theme_advanced_resizing : true,
      });
    });

block content
  h2 Yeeehaw! We're making a new trip.

  //- TODO: make error-handling prettier and more useful
  if typeof flash != 'undefined'
    if flash.error
      #error= flash.error
    if flash.info
      #info= flash.info

  form#trip-form(method='post', action='/trip/new/done')
    p
      label(for='trip_name') trip name:
    p
      input(type='text', name='trip_name', id='trip_name', size='30')
    p
      label(for='trip_start') starts
      input(type='text', name='trip_start', id='trip_start', size='10')
      label(for='trip_end') ends
      input(type='text', name='trip_end', id='trip_end', size='10')
    p
      label(for='trip_description') description / other info:
    p
      textarea.richedit(name='trip_description', id='trip_description', rows='10', cols='60')
    p
      label(for='signup_start') sign up open from
      input(type='text', name='signup_start', id='signup_start', size='13')
      label(for='signup_end') to
      input(type='text', name='signup_end', id='signup_end', size='13')
    p
      label(for='allow_early_drivers') allow some drivers to sign up early?
      input(type='checkbox', name='allow_early_drivers', id='allow_early_drivers')
    //- is toggled on/off on checkbox click via js
    #drivers
      p
        | Ok!
        input(type='text', name='num_early_drivers', id='num_early_drivers', size='1', value='2')
        | driver(s) can sign up
        input(type='text', name='early_signup_days', id='early_signup_days', size='1', value='1')
        | day(s) early.
    p
      label(for='trip_fee') trip fee
      input(type='text', name='trip_fee', id='trip_fee', size='2', value='$0')

    h3 leader info (that's you, probably)

    p
      label(for='leader_name') name
      input(type='text', name='leader_name', id='leader_name', size='20')
    p
      label(for='leader_email') email
      input(type='text', name='leader_email', id='leader_email', size='20')

    //- TODO: additional questions
    //- TODO: leader signup info (car, answer extra questions yourself (in a new
    //-       page)

    input(type='submit', value='Make it!')
